.services, .teams{
    color:#fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.services .serv-content .card{
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .serv-content .card:hover{
    background: black;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: rgb(255, 255, 255);
    transition: color 0.2s ease;
}
